# Apache Configuration for URL Rewriting
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php

# PHP Configuration for Displaying Errors
php_flag display_startup_errors on
php_flag display_errors on